@font-face {
    font-family: 'first';
    src: url(/fonts/HelveticaNeueCyr-Roman.woff);
}

@font-face {
    font-family: 'second';
    src: url(/fonts/HelveticaNeueCyr-Bold.woff);
}

@font-face {
    font-family: 'third';
    src: url(/fonts/HelveticaNeueCyr-Heavy.woff);
}